<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BDOplnnr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <applicationSettings>
    <BDOplnnr.Properties.Settings>
      <setting name="MongoHost" serializeAs="String">
        <value>HostValue</value>
      </setting>
      <setting name="MongoPort" serializeAs="String">
        <value>PortValue</value>
      </setting>
      <setting name="MongoUser" serializeAs="String">
        <value>UserValue</value>
      </setting>
      <setting name="MongoPassword" serializeAs="String">
        <value>PasswordValue</value>
      </setting>
      <setting name="MongoAuthDB" serializeAs="String">
        <value>AuthDBValue</value>
      </setting>
      <setting name="MongoDB" serializeAs="String">
        <value>DBValue</value>
      </setting>
      <setting name="MongoShard0" serializeAs="String">
        <value>Shard0</value>
      </setting>
      <setting name="MongoShard1" serializeAs="String">
        <value>Shard1</value>
      </setting>
      <setting name="MongoShard2" serializeAs="String">
        <value>Shard2</value>
      </setting>
    </BDOplnnr.Properties.Settings>
  </applicationSettings>
</configuration>